 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    My name is Jenzel Villanueva. I am a UW Tacoma Computer Science and Systems Graduate, Aspiring Game Developer and a self-taught Artist.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    My major may be on software development, but I always had a big passion towards making art as well. I love video games too. Some day, I might complete and publish a game of my own.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>
